body{
    background-color: black;

}

h1{
    color: red;
    background-color:yellow
}

h2{
    color:  green;
    background-color:aqua 
}

p{
    color: blue; 
 /*   background-color: aquamarine;*/
}

a{
    color: pink;
    background-color: brown;
}

/*Un id se utiliza cuando tiene un estilo especifico para un solo elemento*/
#contenedor-uno{
    background-color: blue;
}

#contenedor-dos{
    background-color: yellow;
}

/*Para compartir estilos, usamos las clases*/
.contenedor-principal{
    background-color: blueviolet;
    padding: 30px;
}

.btn-registrar{
background-color: blue;
color: #fff;
padding: 10px;
border-radius: 8px;
border: none;
}

.btn-ingresar{
font-size: 25px;
}

.contenedor-form{
    border: 3px solid #fff;
    border-radius: 8px;
    text-align: center;
}

.contenedor-interno-form{
    padding: 20px;
    
}

.titulo-form{
    color: blue;
    background-color: #fff;
}

.input-form{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid blue;
    width: 400px;
}

.input-codigo{
    width: 100px;
}

.input-numero{
    width: 275px;
}

.btn-crearUsuario{
    background-color: green;
    font-family: helveltica;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

/*Pseudoclases*/
/*los elementos tienen propiedades internas por ejm: hover*/
/*hover: es la propiedad que detecta
cuando el mouse esta sobre el elemento,
es decir estos estilos solo se aplican si el mouse esta sobre dicho elemento*/

.btn-registrar:hover{
    background-color: red;
    color:darkblue;
    text-decoration: none;
}

.btn-crearUsuario:hover{
    background-color: red;
    color:darkblue;
    text-decoration: none;
    padding: 50px;
}

 /*Los elementos "a" tienen pseudoclases como: 
 -link
 -visited
 -hover
 -active*/

 /*Estas pseudoclases se aplican para todos los elementos de html*/

 div:hover{
     background-color: green;
 }

 .contenedor-form h1{
     border: 20px solid #cf2e2e;
 }

 .contenedor-form p{
    border: 2px solid #1560eb;
 }

/*first child, busca el primer elemento*/

h1:first-child{
    color: aquamarine;
    background-color: red;
}

input:first-of-type{
    color: rgb(255, 153, 0);
}

/**/